.container {
    .el-breadcrumb {
        position: absolute;
        top: 60px;
        left: 200px;
        height: 48px;
        line-height: 48px;
        background-color: #fff;
        width: 100%;
        padding-left: 20px;
        border-bottom: 1px solid $border-color;
        .el-breadcrumb__inner {
            font-weight: bolder!important;
        }
    }
    .header {
        margin-bottom: 20px;
        .el-select {
            width: 120px;
            .el-input {
                width: 100%;
            }
        }
        .el-input {
            width: 300px;
        }
    }
}